.jumbotron {
    box-sizing: border-box;
    height: 600px;
    background-color: rgba(0, 0, 0, 0);
}

.main-button-container {
    margin-top: 175px;
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
}

.timer-p {
    margin-top: 40px;
    font-family: 'triforce', sans-serif;
}

.statusBar {
    margin-top: 40px;
}

.answer:hover {
    background: #42843e;
}

.answer {
    padding-top: 7px;
    height: 45px;
    color: #000;
    padding-left: 14px;
    background-color: #fff;
    border-radius: 4px;
    font-family: 'ravenna', sans-serif;
}

.img-wrong {
    margin-top: 40px;
}

.first-answer {
    margin-top: 40px;
}

.reset-button {
    margin-top: 40px;
}

.summary-correct {
    margin-top: 40px;
}

html,
body {
    height: 100%;
}

body {
    background-image: url('../images/background.png');
    background-color: #62a238;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'sherwood', sans-serif;
}

@font-face {
    font-family: 'triforce';
    src: url('triforce.ttf');
}

.triforceFont {
    font-family: 'triforce', sans-serif;
}

@font-face {
    font-family: 'ravenna';
    src: url('ravenna.ttf');
}

.ravennaFont {
    font-family: 'ravenna', sans-serif;
}

@font-face {
    font-family: 'sherwood';
    src: url('sherwood.ttf');
}

.sherwoodFont {
    font-family: 'sherwood', sans-serif;
}